_tmp.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
 
 
 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dossiers="http://xmlns.sasta.ch/dossiers/15" targetNamespace="http://xmlns.sasta.ch/dossiers/15" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:simpleType name="spezialCode">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:negativeInteger">
					<xs:enumeration value="-1"/>
					<xs:enumeration value="-6"/>
					<xs:enumeration value="-9"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="0" fixed="true"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="shsCode">
		<xs:union memberTypes="xs:positiveInteger dossiers:spezialCode">
			<xs:simpleType>
				<xs:restriction base="xs:nonNegativeInteger">
					<xs:minInclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="shsAHV">
		<xs:union memberTypes="dossiers:shsCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[1-9]\d{2}\.\d{2}\.[1-8]\d{2}(\.\d{3})?"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="shsVersichertennummer">
		<xs:union memberTypes="dossiers:shsCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="\d{3}\.\d{4}\.\d{4}\.\d{2}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="shsBeruf">
		<xs:union memberTypes="dossiers:shsCode">
			<xs:simpleType>
				<xs:restriction base="xs:nonNegativeInteger">
					<xs:minInclusive value="0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="shsNationalitaet">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="3" fixed="1"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="0" fixed="1"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="-1"/>
					<xs:enumeration value="-6"/>
					<xs:enumeration value="-9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="shsDate">
		<xs:union memberTypes="xs:date xs:dateTime">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="0" fixed="1"/>
				</xs:restriction>
				 
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="([0-3][0-9]\.[0-1][0-9]\.(([1-9][0-9]{3})|([0-9]{2})))"/>
				</xs:restriction>
				 
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="([0-3][0-9][0-1][0-9](([1-9][0-9]{3})|([0-9]{2})))"/>
				</xs:restriction>
				 
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="shsMonatJahr">
		<xs:union memberTypes="xs:gYearMonth dossiers:shsDate">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="0" fixed="1"/>
				</xs:restriction>
				 
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="([0-1][0-9]\.(([1-9][0-9]{3})|([0-9]{2})))"/>
				</xs:restriction>
				 
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="([0-1][0-9](([1-9][0-9]{3})|([0-9]{2})))"/>
				</xs:restriction>
				 
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="([0-3][0-9][0-1][0-9](([1-9][0-9]{3})|([0-9]{2})))"/>
				</xs:restriction>
				 
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="shsTagMonat">
		<xs:union memberTypes="xs:gMonthDay xs:date xs:dateTime">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="0" fixed="1"/>
				</xs:restriction>
				 
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-3][0-9]\.[0-1][0-9]"/>
				</xs:restriction>
				 
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-3][0-9][0-1][0-9]"/>
				</xs:restriction>
				 
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="([0-3][0-9]\.[0-1][0-9]\.(([1-9][0-9]{3})|([0-9]{2})))"/>
				</xs:restriction>
				 
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="([0-3][0-9][0-1][0-9](([1-9][0-9]{3})|([0-9]{2})))"/>
				</xs:restriction>
				 
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="shsBetrag">
		<xs:union memberTypes="xs:decimal">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="0" fixed="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	 
	<xs:simpleType name="shsNullEins">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="shsBoolean">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value=""/>
			<xs:enumeration value="-1"/>
			<xs:enumeration value="-6"/>
			<xs:enumeration value="-9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="shsBooleanUnbekannt">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value=""/>
			<xs:enumeration value="-1"/>
			<xs:enumeration value="-6"/>
			<xs:enumeration value="-9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="shsSprache">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="shsEinkommen">
		<xs:attribute name="einkommensart_id" type="dossiers:shsCode"/>
		<xs:attribute name="betrag" type="dossiers:shsBetrag"/>
		<xs:attribute name="b_in_abklaerung" type="dossiers:shsBooleanUnbekannt"/>
	</xs:complexType>
	<xs:complexType name="shsErwerbsituation">
		<xs:attribute name="erwerbsituation_id" type="dossiers:shsCode"/>
		<xs:attribute name="indx">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="4"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="shsBedarf">
		<xs:attribute name="bedarfsart_id">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:minInclusive value="21"/>
					<xs:maxInclusive value="23"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="massnahme_grund_id" type="dossiers:shsCode"/>
		<xs:attribute name="betrag" type="dossiers:shsBetrag"/>
		<xs:attribute name="b_in_abklaerung" type="dossiers:shsBooleanUnbekannt"/>
	</xs:complexType>
	<xs:complexType name="shsAlbv">
		<xs:attribute name="antragsart_id" type="dossiers:shsCode" use="required"/>
		<xs:attribute name="betrag_zugesprochen" type="dossiers:shsBetrag"/>
		<xs:attribute name="dat_erste_auszahlung" type="dossiers:shsMonatJahr"/>
		<xs:attribute name="betrag_tot_auszahlungen" type="dossiers:shsBetrag"/>
		<xs:attribute name="b_bezug_stichtag" type="dossiers:shsBoolean"/>
		<xs:attribute name="dat_letzte_zahlung" type="dossiers:shsMonatJahr"/>
	</xs:complexType>
	<xs:attributeGroup name="dossierAttributes">
		<xs:attribute name="sh_leistungsart_id" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="gemeinde_id" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="sozialleistungstraeger_id" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="sh_leistungstyp_id" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="jahr" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="dossiernummer" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="b_neubezuegerrecord" type="dossiers:shsNullEins" use="required"/>
		<xs:attribute name="dat_aufnahme" type="dossiers:shsDate"/>
		<xs:attribute name="dat_beginn_anspruch" type="dossiers:shsDate"/>
		<xs:attribute name="b_ergaenzung_bund" type="dossiers:shsBoolean"/>
		<xs:attribute name="b_beihilfe_kanton" type="dossiers:shsBoolean"/>
		<xs:attribute name="b_zuschuss_gemeinde" type="dossiers:shsBoolean"/>
		<xs:attribute name="anz_personen_hh" type="xs:positiveInteger"/>
		<xs:attribute name="anz_personen_ue" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="sh_wohnsituation_id" type="dossiers:shsCode"/>
		<xs:attribute name="wohnungsgroesse_id" type="dossiers:shsCode"/>
		<xs:attribute name="wohnkosten_inkl_nk" type="dossiers:shsBetrag"/>
		<xs:attribute name="anz_pflegefaelle_hh" type="dossiers:shsCode"/>
		<xs:attribute name="pfleger_id" type="dossiers:shsCode"/>
		<xs:attribute name="b_ber_skos_2005" type="dossiers:shsBoolean"/>
		<xs:attribute name="b_weitere_ue_einkommen" type="dossiers:shsBoolean"/>
		<xs:attribute name="b_vermoegensfreibetrag" type="dossiers:shsBoolean"/>
		<xs:attribute name="b_guthaben_pensionskasse" type="dossiers:shsBooleanUnbekannt"/>
		<xs:attribute name="b_wohneigentum" type="dossiers:shsBoolean"/>
		<xs:attribute name="ue_monatserwerbseinkommen" type="dossiers:shsBetrag"/>
		<xs:attribute name="ue_monatssozialversleistungen" type="dossiers:shsBetrag"/>
		<xs:attribute name="ue_monatsleistungen_bedarf" type="dossiers:shsBetrag"/>
		<xs:attribute name="ue_monats_zusatzeinkommen" type="dossiers:shsBetrag"/>
		<xs:attribute name="ue_monatseinkommen" type="dossiers:shsBetrag"/>
		<xs:attribute name="antragsart_id" type="dossiers:shsCode"/>
		<xs:attribute name="b_frueher_unterstuetzt" type="dossiers:shsBoolean"/>
		<xs:attribute name="dauer_unterstuetzung_mt" type="dossiers:shsCode"/>
		<xs:attribute name="betrag_bruttobedarf" type="dossiers:shsBetrag"/>
		<xs:attribute name="betrag_nettobedarf_skos" type="dossiers:shsBetrag"/>
		<xs:attribute name="betrag_zugesprochen" type="dossiers:shsBetrag"/>
		<xs:attribute name="betrag_zugesprochen_el_bund" type="dossiers:shsBetrag"/>
		<xs:attribute name="betrag_zugespr_beihilfe_kanton" type="dossiers:shsBetrag"/>
		<xs:attribute name="betrag_zugespr_zuschuss_gem" type="dossiers:shsBetrag"/>
		<xs:attribute name="dat_erste_auszahlung" type="dossiers:shsMonatJahr"/>
		<xs:attribute name="betrag_tot_auszahlungen" type="dossiers:shsBetrag"/>
		<xs:attribute name="betrag_ausbezahlt_el_bund" type="dossiers:shsBetrag"/>
		<xs:attribute name="betrag_ausbez_beihilfe_kanton" type="dossiers:shsBetrag"/>
		<xs:attribute name="betrag_ausbez_zuschuss_gem" type="dossiers:shsBetrag"/>
		<xs:attribute name="betrag_tot_ausz_krankheit" type="dossiers:shsBetrag"/>
		<xs:attribute name="b_bezug_stichtag" type="dossiers:shsBoolean"/>
		<xs:attribute name="dat_letzte_zahlung" type="dossiers:shsMonatJahr"/>
		<xs:attribute name="b_ueberbrueckung" type="dossiers:shsBoolean"/>
		<xs:attribute name="beendigungsgrund_id" type="dossiers:shsCode"/>
		<xs:attribute name="dat_abgeschlossen" type="dossiers:shsMonatJahr"/>
		<xs:attribute name="sh_fremd_id" type="dossiers:non_empty_string" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="antragstellerAttribute">
		<xs:attribute name="person_fremd_id" type="dossiers:non_empty_string" use="optional"/>
		<xs:attribute name="ahv_nr" type="dossiers:shsAHV"/>
		<xs:attribute name="versichertennummer" type="dossiers:shsVersichertennummer"/>
		<xs:attribute name="nachname" type="xs:string"/>
		<xs:attribute name="vorname" type="xs:string"/>
		<xs:attribute name="zvr_plz" type="dossiers:shsCode"/>
		<xs:attribute name="zvr_ort" type="xs:string"/>
		<xs:attribute name="zvr_gemeinde_id" type="dossiers:shsCode"/>
		<xs:attribute name="ust_plz" type="dossiers:shsCode"/>
		<xs:attribute name="ust_ort" type="xs:string"/>
		<xs:attribute name="ust_gemeinde_id" type="dossiers:shsCode"/>
		<xs:attribute name="auf_plz" type="dossiers:shsCode"/>
		<xs:attribute name="auf_ort" type="xs:string"/>
		<xs:attribute name="auf_gemeinde_id" type="dossiers:shsCode"/>
		<xs:attribute name="buerger_gemeinde_id" type="dossiers:shsCode"/>
		<xs:attribute name="dat_in_gemeinde_seit_jahr" type="dossiers:shsCode"/>
		<xs:attribute name="dat_in_gemeinde_seit_tag_monat" type="dossiers:shsTagMonat"/>
		<xs:attribute name="zuzug_gem_gemeinde_id" type="dossiers:shsCode"/>
		<xs:attribute name="zuzug_gem_land_id" type="dossiers:shsNationalitaet"/>
		<xs:attribute name="dat_im_kanton_seit_jahr" type="dossiers:shsCode"/>
		<xs:attribute name="dat_im_kanton_seit_tag_monat" type="dossiers:shsTagMonat"/>
		<xs:attribute name="zuzug_kant_land_id">
			<xs:simpleType>
				<xs:union memberTypes="dossiers:shsNationalitaet">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="2" fixed="1"/>
						</xs:restriction>
						 
					</xs:simpleType>
				</xs:union>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="dat_geburt" type="dossiers:shsDate" use="required"/>
		<xs:attribute name="geschlecht_id" type="dossiers:shsCode"/>
		<xs:attribute name="zivilstand_id" type="dossiers:shsCode"/>
		<xs:attribute name="nationalitaet_land_id" type="dossiers:shsNationalitaet"/>
		<xs:attribute name="aufenthaltsstatus_id" type="dossiers:shsCode"/>
		<xs:attribute name="in_ch_seit_jahr" type="dossiers:shsCode"/>
		<xs:attribute name="b_allein_im_hh" type="dossiers:shsBoolean"/>
		<xs:attribute name="betrag_mietanteil" type="dossiers:shsBetrag"/>
		<xs:attribute name="arbeitszeit_woche" type="dossiers:shsCode"/>
		<xs:attribute name="b_arbeit_unregelmaessig" type="dossiers:shsBoolean"/>
		<xs:attribute name="beschaeftigungsgrad_id" type="dossiers:shsCode"/>
		<xs:attribute name="teilzeit_grund1_id" type="dossiers:shsCode"/>
		<xs:attribute name="teilzeit_grund2_id" type="dossiers:shsCode"/>
		<xs:attribute name="dat_stempelbeginn" type="dossiers:shsDate"/>
		<xs:attribute name="b_ausgesteuert" type="dossiers:shsBooleanUnbekannt"/>
		<xs:attribute name="erlernter_beruf_id" type="dossiers:shsBeruf"/>
		<xs:attribute name="aktueller_beruf_id" type="dossiers:shsBeruf"/>
		<xs:attribute name="branche_alpha_code_2008" type="xs:string"/>
		<xs:attribute name="anz_arbeitslos_3j" type="dossiers:shsCode"/>
		<xs:attribute name="ausbildung_id" type="dossiers:shsCode"/>
		<xs:attribute name="b_ausb_abgebrochen" type="dossiers:shsBoolean"/>
		<xs:attribute name="abgebr_ausbildung_id" type="dossiers:shsCode"/>
		<xs:attribute name="b_iv_eingliederung" type="dossiers:shsBooleanUnbekannt"/>
		<xs:attribute name="b_kk_grundversicherung" type="dossiers:shsBoolean"/>
		<xs:attribute name="b_kk_zusatzversicherung" type="dossiers:shsBoolean"/>
		<xs:attribute name="kk_name" type="xs:string"/>
		<xs:attribute name="kk_praemie_mt" type="dossiers:shsBetrag"/>
		<xs:attribute name="b_kk_praemienzuschuss" type="dossiers:shsBooleanUnbekannt"/>
		<xs:attribute name="kk_zuschuss_betrag" type="dossiers:shsBetrag"/>
		<xs:attribute name="hilflosigkeitsgrad_id" type="dossiers:shsCode"/>
		<xs:attribute name="invaliditaetsgrad_id" type="dossiers:shsCode"/>
		<xs:attribute name="dat_ausgesteuert" type="dossiers:shsMonatJahr"/>
	</xs:attributeGroup>
	<xs:simpleType name="non_empty_string">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	 
	<xs:element name="dossier">
		<xs:complexType>
			<xs:all>
				<xs:element ref="dossiers:antragsteller"/>
				<xs:element ref="dossiers:sh_auszahlung" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="dossiers:sh_ausgabe" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="dossiers:sh_bedarf" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="dossiers:sh_zusatzeinkommen" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="dossiers:sh_massnahme" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="dossiers:sh_merkmal" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="dossiers:sh_wbsl_einkommen" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="dossiers:ue" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="dossiers:hh" minOccurs="0" maxOccurs="1"/>
			</xs:all>
			<xs:attributeGroup ref="dossiers:dossierAttributes"/>
			<xs:anyAttribute/>
		</xs:complexType>
	</xs:element>
	<xs:element name="antragsteller">
		<xs:complexType>
			<xs:all>
				<xs:element name="antragsteller_einkommen" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="einkommen" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="dossiers:shsEinkommen"/>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="antragsteller_erwerbsituation" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="erwerbsituation" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="dossiers:shsErwerbsituation"/>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="antragsteller_bedarf" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="bedarf" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="dossiers:shsBedarf"/>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="antragsteller_albv" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="dossiers:shsAlbv"/>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attributeGroup ref="dossiers:antragstellerAttribute"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sh_auszahlung">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="12">
				<xs:element name="monat">
					<xs:complexType>
						<xs:attribute name="monat_id">
							<xs:simpleType>
								<xs:restriction base="xs:positiveInteger">
									<xs:minInclusive value="1"/>
									<xs:maxInclusive value="12"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="betrag" type="dossiers:shsBetrag"/>
						 
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sh_ausgabe">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ausgabe" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="ausgabeart_id" type="dossiers:shsCode"/>
						<xs:attribute name="betrag" type="dossiers:shsBetrag"/>
						<xs:attribute name="b_in_abklaerung" type="dossiers:shsBoolean"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sh_bedarf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="bedarf" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="bedarfsart_id" type="dossiers:shsCode"/>
						<xs:attribute name="betrag" type="dossiers:shsBetrag"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sh_zusatzeinkommen">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sh_einkommen" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="sh_einkommensart_id" type="dossiers:shsCode"/>
						<xs:attribute name="betrag" type="dossiers:shsBetrag"/>
						<xs:attribute name="b_in_abklaerung" type="dossiers:shsBooleanUnbekannt"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sh_massnahme">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="massnahme" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="massnahme_id" type="dossiers:shsCode"/>
						<xs:attribute name="wert" type="xs:string"/>
						<xs:attribute name="kommentar" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sh_merkmal">
		<xs:complexType>
			<xs:attribute name="merkmal_id" type="dossiers:shsCode" use="required"/>
			<xs:attribute name="wert" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sh_wbsl_einkommen">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sh_einkommen" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="sh_einkommensart_id" type="dossiers:shsCode"/>
						<xs:attribute name="b_in_abklaerung" type="dossiers:shsBoolean"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ue">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ue_person" minOccurs="0" maxOccurs="9">
					<xs:complexType>
						<xs:all>
							<xs:element name="ue_person_einkommen" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="einkommen" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="dossiers:shsEinkommen"/>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ue_person_erwerbsituation" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="erwerbsituation" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="dossiers:shsErwerbsituation"/>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ue_person_bedarf" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="bedarf" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="dossiers:shsBedarf"/>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ue_person_albv" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="dossiers:shsAlbv"/>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:all>
						<xs:attribute name="ue_person_id" type="xs:positiveInteger" use="required"/>
						<xs:attribute name="person_fremd_id" type="dossiers:non_empty_string" use="optional"/>
						<xs:attribute name="verwandtschaftsgrad_id" type="dossiers:shsCode"/>
						<xs:attribute name="geschlecht_id" type="dossiers:shsCode"/>
						<xs:attribute name="dat_geburtsjahr" type="dossiers:shsCode" use="required"/>
						<xs:attribute name="tagmonat" type="dossiers:shsTagMonat"/>
						<xs:attribute name="zivilstand_id" type="dossiers:shsCode"/>
						<xs:attribute name="nationalitaet_land_id" type="dossiers:shsNationalitaet"/>
						<xs:attribute name="aufenthaltsstatus_id" type="dossiers:shsCode"/>
						<xs:attribute name="in_ch_seit_jahr" type="dossiers:shsCode"/>
						<xs:attribute name="versichertennummer" type="dossiers:shsVersichertennummer"/>
						<xs:attribute name="ausbildung_id" type="dossiers:shsCode"/>
						<xs:attribute name="beschaeftigungsgrad_id" type="dossiers:shsCode"/>
						<xs:attribute name="hilflosigkeitsgrad_id" type="dossiers:shsCode"/>
						<xs:attribute name="invaliditaetsgrad_id" type="dossiers:shsCode"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="hh">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="hh_person" minOccurs="0" maxOccurs="9">
					<xs:complexType>
						<xs:attribute name="hh_person_id" type="xs:positiveInteger" use="required"/>
						<xs:attribute name="person_fremd_id" type="xs:string" use="optional"/>
						<xs:attribute name="verwandtschaftsgrad_id" type="dossiers:shsCode"/>
						<xs:attribute name="b_separate_unterstuetzung" type="dossiers:shsBoolean"/>
						<xs:attribute name="ahv_nr" type="dossiers:shsAHV"/>
						<xs:attribute name="versichertennummer" type="dossiers:shsVersichertennummer"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dossiers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dossiers:infos" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="dossiers:dossier" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="infos">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ffsInfos">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ffsId" type="xs:string" minOccurs="1"/>
							<xs:element name="ffsVersion" type="xs:string" minOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="expInfos">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="exportId" type="xs:string" minOccurs="1"/>
							<xs:element name="sedexId" type="xs:string" minOccurs="0"/>
							<xs:element name="feedbackSprache" type="dossiers:shsSprache" default="1" minOccurs="1"/>
							<xs:element name="erhebungsjahr" type="xs:gYear" minOccurs="1"/>
							<xs:element name="exportDatum" type="xs:date" minOccurs="1"/>
							<xs:element name="istProd" type="xs:boolean" default="0" minOccurs="1"/>
							<xs:element name="vollLieferung" type="xs:boolean" default="0" minOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="dossiersInfos">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="totDossiers" type="xs:unsignedShort" minOccurs="1"/>
							<xs:element name="totAnfangszustaende" type="xs:unsignedShort" minOccurs="1"/>
							<xs:element name="totStichtagszustaende" type="xs:unsignedShort" minOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
